.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.freeBox__o1Ek1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 2px 16px 0px;
}
.freeBox__o1Ek1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__o1Ek1 > :global(.__wab_flex-container) > *,
.freeBox__o1Ek1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o1Ek1 > :global(.__wab_flex-container) > picture > img,
.freeBox__o1Ek1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .freeBox__o1Ek1 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 640px) {
  .freeBox__o1Ek1 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.header__lhPxY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutUsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/seodapop_main_website/images/linkedinSalesSolutions46Bom4LObsAUnsplashjpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  align-self: flex-start;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 640px) {
  .aboutUsBanner {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__kar5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__kar5 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kar5 > :global(.__wab_flex-container) > *,
.freeBox__kar5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kar5 > :global(.__wab_flex-container) > picture > img,
.freeBox__kar5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
}
@media (max-width: 640px) {
  .h1 {
    font-size: 40px;
  }
}
.text__hw5Nq {
  position: relative;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: var(--token-lUZx5WM3kjhgzC);
}
@media (max-width: 640px) {
  .text__hw5Nq {
    font-size: 18px;
  }
}
.ourTeamSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
}
@media (max-width: 640px) {
  .ourTeamSection {
    padding-bottom: 21px;
    height: auto;
    margin: 0px;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 1380px;
  padding: 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 640px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zfZg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .column__zfZg {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2__lD1V0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 13px;
  padding-bottom: 13px;
  text-align: center;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.row1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 1117px;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.row1 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.row1 > :global(.__wab_flex-container) > *,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row1 > :global(.__wab_flex-container) > picture > img,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
  margin-top: 30px;
}
.row1 {
  --plsmc-rc-col-gap: 0px;
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .row1 {
    flex-direction: row;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 640px) {
  .row1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
  }
}
@media (max-width: 640px) {
  .row1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hGoh2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard___5FwKw:global(.__wab_instance) {
  position: relative;
}
.h3___8RKh {
  color: #ffffff;
}
.text__mKjy5 {
  padding-left: 0px;
}
.link__tY1Kc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___5Ka9U {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link___1Yr2W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__i1NQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__f2Zeq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__gnyU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__smTbM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__rpcK3:global(.__wab_instance) {
  position: relative;
}
.h3__l8ER {
  color: #ffffff;
}
.link___78JYg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__tqPbd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link___2BAvi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___4Cq7T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link___1IXrw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rqA9X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__qEaWg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__hcFmp:global(.__wab_instance) {
  position: relative;
}
.h3__g9Lm5 {
  color: #ffffff;
}
.link__ztdRe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rhid2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__biiaz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__hoftd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__o9ALz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__rvpXu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__mpci7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__ly0Da:global(.__wab_instance) {
  position: relative;
}
.h3__uy3V8 {
  color: #ffffff;
}
.link__mDaUk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__pOv7M {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__si8Qb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__usP4W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__hpRqg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__axbQo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__sr3Ts {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__aEim7:global(.__wab_instance) {
  position: relative;
}
.h3___3AgDx {
  color: #ffffff;
}
.link__hjsj7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___3TOQg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__jPvC1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__vmw9M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__aAf2H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__omf45 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__aWbKt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__g1Osh:global(.__wab_instance) {
  position: relative;
}
.h3___3X7NE {
  color: #ffffff;
}
.link___4ECc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__ahq2Y {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__xCFln {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__igMql {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  align-self: flex-start;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.link__yFka1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__gbZP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lUZx5WM3kjhgzC);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__qVusq {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 0px 64px 68px;
}
@media (max-width: 640px) {
  .freeBox__qVusq {
    width: 100%;
    min-width: 0;
    padding: 10px 32px 28px;
  }
}
.freeBox__cbHhC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__cbHhC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__cbHhC > :global(.__wab_flex-container) > *,
.freeBox__cbHhC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cbHhC > :global(.__wab_flex-container) > picture > img,
.freeBox__cbHhC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 640px) {
  .freeBox__cbHhC {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox__cbHhC > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__cbHhC > :global(.__wab_flex-container) > *,
  .freeBox__cbHhC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cbHhC > :global(.__wab_flex-container) > picture > img,
  .freeBox__cbHhC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__myY92 {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.freeBox__myY92 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__myY92 > :global(.__wab_flex-container) > *,
.freeBox__myY92 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__myY92 > :global(.__wab_flex-container) > picture > img,
.freeBox__myY92
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__cDlj8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__cDlj8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cDlj8 > :global(.__wab_flex-container) > *,
.freeBox__cDlj8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cDlj8 > :global(.__wab_flex-container) > picture > img,
.freeBox__cDlj8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2___8FWyq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 18px;
  min-width: 0;
}
.text__sqhOq {
  align-self: flex-start;
  max-width: 1288px;
  padding-right: 0px;
  padding-bottom: 65px;
  width: 100%;
  min-width: 0;
}
.freeBox__ymT7W {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__ymT7W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ymT7W > :global(.__wab_flex-container) > *,
.freeBox__ymT7W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ymT7W > :global(.__wab_flex-container) > picture > img,
.freeBox__ymT7W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow > :global(.__wab_flex-container) > *,
.serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow > :global(.__wab_flex-container) > picture > img,
.serviceRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow {
  --plsmc-rc-col-gap: 0px;
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 640px) {
  .serviceRow {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) > *,
  .serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .serviceRow > :global(.__wab_flex-container) > picture > img,
  .serviceRow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
@media (max-width: 640px) {
  .serviceRow > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oKiB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__wuOmS:global(.__wab_instance) {
  position: relative;
}
.column__kvty5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__uEc21:global(.__wab_instance) {
  position: relative;
}
.column__x38Ud {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__iOeE:global(.__wab_instance) {
  position: relative;
}
.column__ryvyS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue___3BN7B:global(.__wab_instance) {
  position: relative;
}
.h3__fmsDi {
  padding-bottom: 0px;
}
.column__vroAl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__htt0L:global(.__wab_instance) {
  position: relative;
}
.column__axEty {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__aVtly:global(.__wab_instance) {
  position: relative;
}
.freeBox__y8MMz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 640px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
