@import url("https://fonts.googleapis.com/css2?family=Inria+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-DqaU8LCmnXbTsk: #292d2f;
  --plasmic-token-heading: var(--token-DqaU8LCmnXbTsk);
  --token-lUZx5WM3kjhgzC: #ffffff;
  --plasmic-token-white-color: var(--token-lUZx5WM3kjhgzC);
  --token-SA35YQ8aV-eOWc: 320px;
  --plasmic-token-width-mixin: var(--token-SA35YQ8aV-eOWc);
  --token-70ilKveac: Roboto;
  --plasmic-token-unnamed-style-token: var(--token-70ilKveac);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-MMwz9GYS--MnAA_font-family: "Inria Sans", sans-serif;
  --mixin-MMwz9GYS--MnAA_font-size: 16px;
  --mixin-MMwz9GYS--MnAA_font-weight: 400;
  --mixin-MMwz9GYS--MnAA_font-style: normal;
  --mixin-MMwz9GYS--MnAA_color: #535353;
  --mixin-MMwz9GYS--MnAA_text-align: left;
  --mixin-MMwz9GYS--MnAA_text-transform: none;
  --mixin-MMwz9GYS--MnAA_line-height: 1.7;
  --mixin-MMwz9GYS--MnAA_letter-spacing: normal;
  --mixin-MMwz9GYS--MnAA_white-space: pre-wrap;
  --mixin-MMwz9GYS--MnAA_user-select: text;
  --mixin-MMwz9GYS--MnAA_text-decoration-line: none;
  --mixin-MMwz9GYS--MnAA_text-overflow: clip;
  --mixin-RT-AVCB6FXwsfS_color: var(--token-lUZx5WM3kjhgzC);
  --mixin-RT-AVCB6FXwsfS_font-weight: 700;
  --mixin-RT-AVCB6FXwsfS_font-size: 50px;
  --mixin-RT-AVCB6FXwsfS_line-height: 1.2;
  --mixin-RT-AVCB6FXwsfS_letter-spacing: 0px;
  --mixin-RT-AVCB6FXwsfS_font-family: "Playfair Display", serif;
  --mixin-RT-AVCB6FXwsfS_text-align: center;
  --mixin-RT-AVCB6FXwsfS_white-space: pre-wrap;
  --mixin-0TTUOLIA1dF0Bi_color: #000000;
  --mixin-0TTUOLIA1dF0Bi_font-weight: 600;
  --mixin-0TTUOLIA1dF0Bi_font-size: 36px;
  --mixin-0TTUOLIA1dF0Bi_line-height: 1.1;
  --mixin-0TTUOLIA1dF0Bi_letter-spacing: -1px;
  --mixin-0TTUOLIA1dF0Bi_font-family: "Playfair Display", serif;
  --mixin-0TTUOLIA1dF0Bi_white-space: pre-wrap;
  --mixin-3ZLkcYNeWqQEr8_color: #3291ff;
  --mixin-3ZLkcYNeWqQEr8_white-space: pre-wrap;
  --mixin-AhSfgIvD5i0KTd_color: #000000;
  --mixin-AhSfgIvD5i0KTd_font-weight: 600;
  --mixin-AhSfgIvD5i0KTd_font-size: 24px;
  --mixin-AhSfgIvD5i0KTd_line-height: 1.2;
  --mixin-AhSfgIvD5i0KTd_letter-spacing: 0px;
  --mixin-AhSfgIvD5i0KTd_font-family: "Playfair Display", serif;
  --mixin-AhSfgIvD5i0KTd_white-space: pre-wrap;
  --mixin-vbBIa7op5_U_Tu_color: #000000;
  --mixin-vbBIa7op5_U_Tu_font-weight: 600;
  --mixin-vbBIa7op5_U_Tu_font-size: 24px;
  --mixin-vbBIa7op5_U_Tu_line-height: 1.3;
  --mixin-vbBIa7op5_U_Tu_letter-spacing: -0.5px;
  --mixin-vbBIa7op5_U_Tu_white-space: pre-wrap;
  --mixin-JK-mNp7_lEEibV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JK-mNp7_lEEibV_border-bottom-color: #dddddd;
  --mixin-JK-mNp7_lEEibV_border-bottom-style: solid;
  --mixin-JK-mNp7_lEEibV_border-bottom-width: 1px;
  --mixin-JK-mNp7_lEEibV_border-left-color: #dddddd;
  --mixin-JK-mNp7_lEEibV_border-left-style: solid;
  --mixin-JK-mNp7_lEEibV_border-left-width: 1px;
  --mixin-JK-mNp7_lEEibV_border-right-color: #dddddd;
  --mixin-JK-mNp7_lEEibV_border-right-style: solid;
  --mixin-JK-mNp7_lEEibV_border-right-width: 1px;
  --mixin-JK-mNp7_lEEibV_border-top-color: #dddddd;
  --mixin-JK-mNp7_lEEibV_border-top-style: solid;
  --mixin-JK-mNp7_lEEibV_border-top-width: 1px;
  --mixin-JK-mNp7_lEEibV_border-bottom-left-radius: 3px;
  --mixin-JK-mNp7_lEEibV_border-bottom-right-radius: 3px;
  --mixin-JK-mNp7_lEEibV_border-top-left-radius: 3px;
  --mixin-JK-mNp7_lEEibV_border-top-right-radius: 3px;
  --mixin-JK-mNp7_lEEibV_font-family: "Inconsolata";
  --mixin-JK-mNp7_lEEibV_padding-bottom: 1px;
  --mixin-JK-mNp7_lEEibV_padding-left: 4px;
  --mixin-JK-mNp7_lEEibV_padding-right: 4px;
  --mixin-JK-mNp7_lEEibV_padding-top: 1px;
  --mixin-JK-mNp7_lEEibV_white-space: pre-wrap;
  --mixin-fs_rpYZFgGeLIl_font-family: "Inter", sans-serif;
  --mixin-fs_rpYZFgGeLIl_color: #000000;
  --mixin-fs_rpYZFgGeLIl_font-size: 20px;
  --mixin-fs_rpYZFgGeLIl_font-weight: 600;
  --mixin-fs_rpYZFgGeLIl_letter-spacing: -0.3px;
  --mixin-fs_rpYZFgGeLIl_line-height: 1.5;
  --mixin-fs_rpYZFgGeLIl_white-space: pre-wrap;
  --mixin-fa-iBsI69O2LN-_font-family: "Inter", sans-serif;
  --mixin-fa-iBsI69O2LN-_color: #000000;
  --mixin-fa-iBsI69O2LN-_font-size: 16px;
  --mixin-fa-iBsI69O2LN-_font-weight: 600;
  --mixin-fa-iBsI69O2LN-_line-height: 1.5;
  --mixin-fa-iBsI69O2LN-_white-space: pre-wrap;
  --mixin-rVHa_vvtnBi_xQ_border-left-color: #dddddd;
  --mixin-rVHa_vvtnBi_xQ_border-left-style: solid;
  --mixin-rVHa_vvtnBi_xQ_border-left-width: 3px;
  --mixin-rVHa_vvtnBi_xQ_color: #888888;
  --mixin-rVHa_vvtnBi_xQ_padding-left: 10px;
  --mixin-rVHa_vvtnBi_xQ_white-space: pre-wrap;
  --mixin-SwwlI2k41fxLNp_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-SwwlI2k41fxLNp_border-bottom-color: #dddddd;
  --mixin-SwwlI2k41fxLNp_border-bottom-style: solid;
  --mixin-SwwlI2k41fxLNp_border-bottom-width: 1px;
  --mixin-SwwlI2k41fxLNp_border-left-color: #dddddd;
  --mixin-SwwlI2k41fxLNp_border-left-style: solid;
  --mixin-SwwlI2k41fxLNp_border-left-width: 1px;
  --mixin-SwwlI2k41fxLNp_border-right-color: #dddddd;
  --mixin-SwwlI2k41fxLNp_border-right-style: solid;
  --mixin-SwwlI2k41fxLNp_border-right-width: 1px;
  --mixin-SwwlI2k41fxLNp_border-top-color: #dddddd;
  --mixin-SwwlI2k41fxLNp_border-top-style: solid;
  --mixin-SwwlI2k41fxLNp_border-top-width: 1px;
  --mixin-SwwlI2k41fxLNp_border-bottom-left-radius: 3px;
  --mixin-SwwlI2k41fxLNp_border-bottom-right-radius: 3px;
  --mixin-SwwlI2k41fxLNp_border-top-left-radius: 3px;
  --mixin-SwwlI2k41fxLNp_border-top-right-radius: 3px;
  --mixin-SwwlI2k41fxLNp_font-family: "Inconsolata";
  --mixin-SwwlI2k41fxLNp_padding-bottom: 3px;
  --mixin-SwwlI2k41fxLNp_padding-left: 6px;
  --mixin-SwwlI2k41fxLNp_padding-right: 6px;
  --mixin-SwwlI2k41fxLNp_padding-top: 3px;
  --mixin-SwwlI2k41fxLNp_white-space: pre-wrap;
  --mixin-LmUhJl6ZmIXyKF_display: flex;
  --mixin-LmUhJl6ZmIXyKF_flex-direction: column;
  --mixin-LmUhJl6ZmIXyKF_align-items: stretch;
  --mixin-LmUhJl6ZmIXyKF_justify-content: flex-start;
  --mixin-LmUhJl6ZmIXyKF_list-style-position: outside;
  --mixin-LmUhJl6ZmIXyKF_padding-left: 40px;
  --mixin-LmUhJl6ZmIXyKF_position: relative;
  --mixin-LmUhJl6ZmIXyKF_list-style-type: decimal;
  --mixin-LmUhJl6ZmIXyKF_white-space: pre-wrap;
  --mixin-dOVJxXKRy8Qky-_display: flex;
  --mixin-dOVJxXKRy8Qky-_flex-direction: column;
  --mixin-dOVJxXKRy8Qky-_align-items: stretch;
  --mixin-dOVJxXKRy8Qky-_justify-content: flex-start;
  --mixin-dOVJxXKRy8Qky-_list-style-position: outside;
  --mixin-dOVJxXKRy8Qky-_padding-left: 40px;
  --mixin-dOVJxXKRy8Qky-_position: relative;
  --mixin-dOVJxXKRy8Qky-_list-style-type: disc;
  --mixin-dOVJxXKRy8Qky-_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-MMwz9GYS--MnAA_font-family);
  font-size: var(--mixin-MMwz9GYS--MnAA_font-size);
  font-weight: var(--mixin-MMwz9GYS--MnAA_font-weight);
  font-style: var(--mixin-MMwz9GYS--MnAA_font-style);
  color: var(--mixin-MMwz9GYS--MnAA_color);
  text-align: var(--mixin-MMwz9GYS--MnAA_text-align);
  text-transform: var(--mixin-MMwz9GYS--MnAA_text-transform);
  line-height: var(--mixin-MMwz9GYS--MnAA_line-height);
  letter-spacing: var(--mixin-MMwz9GYS--MnAA_letter-spacing);
  white-space: var(--mixin-MMwz9GYS--MnAA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-RT-AVCB6FXwsfS_color);
  font-weight: var(--mixin-RT-AVCB6FXwsfS_font-weight);
  font-size: var(--mixin-RT-AVCB6FXwsfS_font-size);
  line-height: var(--mixin-RT-AVCB6FXwsfS_line-height);
  letter-spacing: var(--mixin-RT-AVCB6FXwsfS_letter-spacing);
  font-family: var(--mixin-RT-AVCB6FXwsfS_font-family);
  text-align: var(--mixin-RT-AVCB6FXwsfS_text-align);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-0TTUOLIA1dF0Bi_color);
  font-weight: var(--mixin-0TTUOLIA1dF0Bi_font-weight);
  font-size: var(--mixin-0TTUOLIA1dF0Bi_font-size);
  line-height: var(--mixin-0TTUOLIA1dF0Bi_line-height);
  letter-spacing: var(--mixin-0TTUOLIA1dF0Bi_letter-spacing);
  font-family: var(--mixin-0TTUOLIA1dF0Bi_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-3ZLkcYNeWqQEr8_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-AhSfgIvD5i0KTd_color);
  font-weight: var(--mixin-AhSfgIvD5i0KTd_font-weight);
  font-size: var(--mixin-AhSfgIvD5i0KTd_font-size);
  line-height: var(--mixin-AhSfgIvD5i0KTd_line-height);
  letter-spacing: var(--mixin-AhSfgIvD5i0KTd_letter-spacing);
  font-family: var(--mixin-AhSfgIvD5i0KTd_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-vbBIa7op5_U_Tu_color);
  font-weight: var(--mixin-vbBIa7op5_U_Tu_font-weight);
  font-size: var(--mixin-vbBIa7op5_U_Tu_font-size);
  line-height: var(--mixin-vbBIa7op5_U_Tu_line-height);
  letter-spacing: var(--mixin-vbBIa7op5_U_Tu_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JK-mNp7_lEEibV_font-family);
  border-radius: var(--mixin-JK-mNp7_lEEibV_border-top-left-radius)
    var(--mixin-JK-mNp7_lEEibV_border-top-right-radius)
    var(--mixin-JK-mNp7_lEEibV_border-bottom-right-radius)
    var(--mixin-JK-mNp7_lEEibV_border-bottom-left-radius);
  padding: var(--mixin-JK-mNp7_lEEibV_padding-top)
    var(--mixin-JK-mNp7_lEEibV_padding-right)
    var(--mixin-JK-mNp7_lEEibV_padding-bottom)
    var(--mixin-JK-mNp7_lEEibV_padding-left);
  border-top: var(--mixin-JK-mNp7_lEEibV_border-top-width)
    var(--mixin-JK-mNp7_lEEibV_border-top-style)
    var(--mixin-JK-mNp7_lEEibV_border-top-color);
  border-right: var(--mixin-JK-mNp7_lEEibV_border-right-width)
    var(--mixin-JK-mNp7_lEEibV_border-right-style)
    var(--mixin-JK-mNp7_lEEibV_border-right-color);
  border-bottom: var(--mixin-JK-mNp7_lEEibV_border-bottom-width)
    var(--mixin-JK-mNp7_lEEibV_border-bottom-style)
    var(--mixin-JK-mNp7_lEEibV_border-bottom-color);
  border-left: var(--mixin-JK-mNp7_lEEibV_border-left-width)
    var(--mixin-JK-mNp7_lEEibV_border-left-style)
    var(--mixin-JK-mNp7_lEEibV_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-fs_rpYZFgGeLIl_font-family);
  color: var(--mixin-fs_rpYZFgGeLIl_color);
  font-size: var(--mixin-fs_rpYZFgGeLIl_font-size);
  font-weight: var(--mixin-fs_rpYZFgGeLIl_font-weight);
  letter-spacing: var(--mixin-fs_rpYZFgGeLIl_letter-spacing);
  line-height: var(--mixin-fs_rpYZFgGeLIl_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-fa-iBsI69O2LN-_font-family);
  color: var(--mixin-fa-iBsI69O2LN-_color);
  font-size: var(--mixin-fa-iBsI69O2LN-_font-size);
  font-weight: var(--mixin-fa-iBsI69O2LN-_font-weight);
  line-height: var(--mixin-fa-iBsI69O2LN-_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-rVHa_vvtnBi_xQ_color);
  padding-left: var(--mixin-rVHa_vvtnBi_xQ_padding-left);
  border-left: var(--mixin-rVHa_vvtnBi_xQ_border-left-width)
    var(--mixin-rVHa_vvtnBi_xQ_border-left-style)
    var(--mixin-rVHa_vvtnBi_xQ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-SwwlI2k41fxLNp_font-family);
  border-radius: var(--mixin-SwwlI2k41fxLNp_border-top-left-radius)
    var(--mixin-SwwlI2k41fxLNp_border-top-right-radius)
    var(--mixin-SwwlI2k41fxLNp_border-bottom-right-radius)
    var(--mixin-SwwlI2k41fxLNp_border-bottom-left-radius);
  padding: var(--mixin-SwwlI2k41fxLNp_padding-top)
    var(--mixin-SwwlI2k41fxLNp_padding-right)
    var(--mixin-SwwlI2k41fxLNp_padding-bottom)
    var(--mixin-SwwlI2k41fxLNp_padding-left);
  border-top: var(--mixin-SwwlI2k41fxLNp_border-top-width)
    var(--mixin-SwwlI2k41fxLNp_border-top-style)
    var(--mixin-SwwlI2k41fxLNp_border-top-color);
  border-right: var(--mixin-SwwlI2k41fxLNp_border-right-width)
    var(--mixin-SwwlI2k41fxLNp_border-right-style)
    var(--mixin-SwwlI2k41fxLNp_border-right-color);
  border-bottom: var(--mixin-SwwlI2k41fxLNp_border-bottom-width)
    var(--mixin-SwwlI2k41fxLNp_border-bottom-style)
    var(--mixin-SwwlI2k41fxLNp_border-bottom-color);
  border-left: var(--mixin-SwwlI2k41fxLNp_border-left-width)
    var(--mixin-SwwlI2k41fxLNp_border-left-style)
    var(--mixin-SwwlI2k41fxLNp_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-LmUhJl6ZmIXyKF_display);
  flex-direction: var(--mixin-LmUhJl6ZmIXyKF_flex-direction);
  align-items: var(--mixin-LmUhJl6ZmIXyKF_align-items);
  justify-content: var(--mixin-LmUhJl6ZmIXyKF_justify-content);
  list-style-position: var(--mixin-LmUhJl6ZmIXyKF_list-style-position);
  padding-left: var(--mixin-LmUhJl6ZmIXyKF_padding-left);
  position: var(--mixin-LmUhJl6ZmIXyKF_position);
  list-style-type: var(--mixin-LmUhJl6ZmIXyKF_list-style-type);
  flex-column-gap: var(--mixin-LmUhJl6ZmIXyKF_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-dOVJxXKRy8Qky-_display);
  flex-direction: var(--mixin-dOVJxXKRy8Qky-_flex-direction);
  align-items: var(--mixin-dOVJxXKRy8Qky-_align-items);
  justify-content: var(--mixin-dOVJxXKRy8Qky-_justify-content);
  list-style-position: var(--mixin-dOVJxXKRy8Qky-_list-style-position);
  padding-left: var(--mixin-dOVJxXKRy8Qky-_padding-left);
  position: var(--mixin-dOVJxXKRy8Qky-_position);
  list-style-type: var(--mixin-dOVJxXKRy8Qky-_list-style-type);
  flex-column-gap: var(--mixin-dOVJxXKRy8Qky-_flex-column-gap);
}
