.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("/plasmic/seodapop_main_website/images/pexelsAndreaPiacquadio789822Jpg.jpg") right 0px top 50% / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 640px) {
  .banner {
    padding-bottom: 56px;
    padding-top: 50px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.freeBox__c6C4L {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__c6C4L > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__c6C4L > :global(.__wab_flex-container) > *,
.freeBox__c6C4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c6C4L > :global(.__wab_flex-container) > picture > img,
.freeBox__c6C4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__c6C4L {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media (max-width: 640px) {
  .h1 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
  padding: 47px 16px 20px;
}
.clientsSection5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.clientsSection5 > :global(.__wab_flex-container) > *,
.clientsSection5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.clientsSection5 > :global(.__wab_flex-container) > picture > img,
.clientsSection5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-bottom: 0px;
  min-width: 0;
  padding: 47px 16px 20px;
}
@media (max-width: 640px) {
  .clientsSection5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 640px) {
  .clientsSection5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .clientsSection5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
.freeBox__aCk00 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__aCk00 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aCk00 > :global(.__wab_flex-container) > *,
.freeBox__aCk00 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aCk00 > :global(.__wab_flex-container) > picture > img,
.freeBox__aCk00
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__aCk00 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__aCk00 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox__aCk00 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 640px) {
  .freeBox__aCk00 > :global(.__wab_flex-container) > *,
  .freeBox__aCk00 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aCk00 > :global(.__wab_flex-container) > picture > img,
  .freeBox__aCk00
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (max-width: 640px) {
  .freeBox__aCk00 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.columns___7ArkB {
  --plsmc-rc-col-gap: 0px;
}
.columns___7ArkB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 42px 8px 36px;
}
.columns___7ArkB > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 640px) {
  .columns___7ArkB {
    padding: 0px;
  }
}
.column__gpMvd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: var(--token-lUZx5WM3kjhgzC);
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 26px 26px 35px;
}
.text__zvshR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 857px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__zvshR {
    font-size: 15px;
  }
}
.column__mK7S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 33px;
}
.columns__zOtG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__zOtG > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__zOtG > :global(.__wab_flex-container) > *,
.columns__zOtG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zOtG > :global(.__wab_flex-container) > picture > img,
.columns__zOtG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__zOtG {
  --plsmc-rc-col-gap: 0px;
}
.columns__zOtG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zOtG > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__zOtG > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (max-width: 640px) {
  .columns__zOtG {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .columns__zOtG > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .columns__zOtG {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .columns__zOtG > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__h7SRr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#292c2cd9, #292c2cd9),
    url("/plasmic/seodapop_main_website/images/bgHerojpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.formWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .formWrapper {
    padding: 0px;
  }
}
.columns__cub3O {
  --plsmc-rc-col-gap: 0px;
}
.columns__cub3O {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cub3O > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__cub3O > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__cub3O {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .columns__cub3O > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1IsIx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wpijf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-lUZx5WM3kjhgzC);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
  display: flex;
}
.svg__nuCG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  display: block;
}
.column__bBhr5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__y70Dj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-lUZx5WM3kjhgzC);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__bWs2Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__adhOl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__rNKh {
  --plsmc-rc-col-gap: 0px;
}
.columns__rNKh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__rNKh > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rNKh > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 640px) {
  .columns__rNKh {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .columns__rNKh > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fGmZn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__laG5H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-lUZx5WM3kjhgzC);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.textInput__uExu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__l6Skh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bKqIn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__jbLlX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__uImjT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-lUZx5WM3kjhgzC);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.textInput__pVtVj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__iTyG {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4VkQb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__e8LZ5 {
  --plsmc-rc-col-gap: 0px;
}
.columns__e8LZ5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__e8LZ5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__yu2X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ff9Mw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-lUZx5WM3kjhgzC);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__uabWk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cqink {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__dh7Gj {
  --plsmc-rc-col-gap: 0px;
}
.columns__dh7Gj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__dh7Gj > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__cxPr9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__w5CjH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-lUZx5WM3kjhgzC);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.textarea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-lUZx5WM3kjhgzC);
  margin-bottom: 0px;
  padding-bottom: 25px;
  min-width: 0;
}
.freeBox___3RN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 22px;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hCzRb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kfY8L {
  color: var(--token-DqaU8LCmnXbTsk);
}
.root .text__kfY8L:hover {
  color: var(--token-DqaU8LCmnXbTsk);
}
.svg__fTZf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ubxE0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(#ffffff96, #ffffff96),
    url("/plasmic/seodapop_main_website/images/writingPad32027471920Jpg.jpg") top 50% right 30% / cover repeat scroll;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 8px 8px 3px;
}
@media (max-width: 640px) {
  .column__ubxE0 {
    background: #ffffff96;
    padding: 20px;
  }
}
.h2__xmmJb {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__dXRaX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dXRaX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__dXRaX > :global(.__wab_flex-container) > *,
.freeBox__dXRaX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dXRaX > :global(.__wab_flex-container) > picture > img,
.freeBox__dXRaX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__dXRaX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.dataFetcher:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__gaXe3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 203px;
  min-width: 0;
}
.h2__sCj8V {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__a8Vnf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 320px;
  min-width: 0;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 640px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___7ZuaH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
